body{
    background-image: url(Fondo.jpg);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.navbarFondo{
    background-color: aquamarine;
}
.navbarPie{
    background-color: rgb(21, 44, 36);
}