body{
    background-color: rgb(250,245,241);
}
.navbarFondo{
    background-color: rgb(76, 156, 76);
}
.pieFondo{
    background-color: rgb(21, 44, 36);
}
.servicios{
    background-color: rgb(34, 34, 34);
}
.fondo{
    background-image: url(img/fondo.png);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.507);
}