.masthead {
    /* Propiedades existentes */
    height: 100vh;
    min-height: 500px;
    background-image: url('IMG/recepcion.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  
    /* Agregar superposición de color */
    background-blend-mode: overlay;
    background-color: rgba(255, 255, 255, 0.5); /* Color blanco con opacidad */
    
  }  
  .contenedor {
    display: flex;
    align-items: center; /* Alinea verticalmente */
    justify-content: flex-start; /* Alinea horizontalmente a la izquierda */
  }
  
  .contenedor img {
    max-width: 20%;
    height: auto;
    margin-top: 10px; /* Ajusta este valor para bajar la imagen */
  }
  body{
    background-color: #dee9ff;
}

.registration-form{
	padding: 50px 0;
}

.registration-form form{
    background-color: #fff;
    max-width: 600px;
    margin: auto;
    padding: 50px 70px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.modal-header{
  color: #fff;
}

.modal-header button.close {
  color: #ffffff; /* Color del botón */
  font-size: 24px;
  font-weight: 700;
  border: none; /* Remover el borde */
  outline: none; /* Remover el contorno al hacer clic */
  opacity: 0.8; /* Opacidad del botón */
  transition: opacity 0.3s; /* Transición de opacidad al pasar el mouse */
  background-color: transparent; /* Fondo transparente */
  padding: 5px; /* Espaciado interno */
  
}

.modal-header button.close:hover {
  opacity: 1; /* Opacidad al pasar el mouse */
}

/* modal de inicio de sesion */
.modal-content {
  background-color: #1c8f33 !important;
  background-image: url('IMG/recursos/fondo.png'); 
  background-size: cover;
  background-position: center;
}


/* color para el texto dentro del modal */
.modal-content .modal-body,
.modal-content .modal-body form label,
.modal-content .modal-body input {
  color: #ffffff; 

}

.modal-content .modal-body input#username {
  color: #303030; 
}

.modal-content .modal-body input#password {
  color: #333333; /
}

.modal-content .modal-body input#oldUser {
  color: #303030; 
}

.modal-content .modal-body input#oldPass {
  color: #333333; /
}

.modal-content .modal-body input#newPass {
  color: #333333; /
}

.modal-content .modal-body input#newUser {
  color: #333333; /
}

.btn-primary {
  background-color: #025123 !important;
  --bs-btn-border-color: none !important;
}

  /*modal de inscripcion*/

  .modal-content .modal-body input#nombre {
    color: #303030; 
  }
  .modal-content .modal-body input#apellidos {
    color: #303030; 
  }.modal-content .modal-body input#cedula {
    color: #303030; 
  }.modal-content .modal-body input#edad {
    color: #303030; 
  }.modal-content .modal-body input#email {
    color: #303030; 
  }
  .modal-content .modal-body input#telefono {
    color: #303030; 
  }
 
/*fondo y titulos de las secciones*/
.titulo-pag {
 background-color: #0f9218;
 background-image: url(IMG/recursos/fondo.png);
 background-size: cover;
 background-repeat: no-repeat;
 padding: 4rem 0;
 text-align: center;
 margin-bottom: 20px
}
.texto-pag {
 font-size: 400%;
 color: #fff;
 margin-bottom: 1rem;
}


/* Estilos para la Tarjeta 1 */
.tarjeta-1 .card-body {
background-color: #185915;
background-image: url(IMG/Cards/card\ \(3\).jpg);
}

.tarjeta-1 .card-body p,
.tarjeta-1 .card-body ul li {
color: #2B0251;

font-family:Kaapeli2;
text-align: left;
}

/* Estilos para la Tarjeta 2 */
.tarjeta-2 .card-body {
background-color: #E0BBE4;
background-image: url(IMG/Cards/card\ \(7\).jpg);
color: #2b0251 ;
}

.tarjeta-2 .card-body p,
.tarjeta-2 .card-body ul li {
color: #2B0251;

font-family:Kaapeli2;
text-align: left;
}


/* Estilos para la Tarjeta 3 */
.tarjeta-3 .card-body {
background-color: #FFD3B5;
background-image: url(IMG/Cards/card\ \(8\).jpg);
}

.tarjeta-3 .card-body p,
.tarjeta-3 .card-body ul li {
color: #2B0251;

font-family:Kaapeli2;
text-align: left;
}

/* Estilos para la Tarjeta 4 */
.tarjeta-4 .card-body {
background-color: #B5EAD7;
background-image: url(IMG/Cards/card\ \(6\).jpg);
}

.tarjeta-4 .card-body p,
.tarjeta-4 .card-body ul li {
color: #2B0251;

font-family:Kaapeli2;
text-align: left;
}

/* Estilos para la Tarjeta 5 */
.tarjeta-5 .card-body {
background-color: #FDD5B1;
background-image: url(IMG/Cards/card\ \(1\).jpg);
}
.tarjeta-5 .card-body p,
.tarjeta-5 .card-body ul li {
color: #2B0251;

font-family:Kaapeli2;
text-align: left;
}

/* Estilos para los botones en todas las tarjetas */
.card .btn-primary {
background-color: #EA2C5C !;
color: #fff;
border-color: #EA2C5C;
}

.card .btn-primary:hover {
background-color: #D62553;
border-color: #D62553;
}

